body {
  background: rgb(228, 218, 203);
}
.heading {
  background-color: rgb(221, 126, 18);
  text-align: center;
  font-size: 30px;
  word-spacing: 20px;
  font-weight: 700;
  padding: 8px;
  color: rgb(35, 23, 207);
  border: 3px solid rgb(80, 91, 235);
}

.gender {
  display: none;
}
